/net6.0/
/net6.0/*
*/net6.0/*

.vs/FruitHub/v17/.suo

# Arquivos temporários
[Tt]emp/
[Oo]bj/

# Arquivos de compilação
*.exe
*.dll
*.pdb
*.dll.config

# Arquivos de projeto
*.user
*.suo
*.cache
*.csproj.user
*.csproj.dotSettings

# Logs e arquivos de teste
TestResults/
[Tt]est[Rr]esult*/
*.log
*.trx
*.vspscc
*.vssscc

# Visual Studio files
.vscode/
.vs/
*.suo
*.sln.ide
*.sln.ide.*

# Arquivos de configuração
*.vsconfig

# Ferramentas e cache do .NET
project.lock.json
packages/
*.nuget/
*.paket/
*.nupkg
*.nupkg.sha512
*.dlls
*.cache
*.tmp
*.tools
*.csproj.nuget.g.targets
*.csproj.nuget.g.props
*.csproj.nuget.dgspec.json

# Arquivos de usuário específicos
*.vspscc
*.vssscc
*.ncrunch*
*.sln.docstates
*.suo
*.user
*.userosscache
*.sln.ide
*.csproj.ide
*.pidb
*.pdb
*.cache
*.tmp
*.gpstate
*.gpState
*.suo
*.user
*.webinfo
*.Publish.xml
*.pfx
*.vstest
*.csproj.DotSettings.user
*.csproj.user
*.DotSettings
